<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"
	default-lazy-init="true">

	<description>使用Spring的 Scheduled的定时任务配置</description>

	<!-- namespace 方式 的便捷版 -->
	<task:scheduler id="springScheduler" pool-size="5"/>

	<task:scheduled-tasks scheduler="springScheduler">
		<!-- cron -->
		<!-- 每日上午09:00:00 重发失败的红包-->
		<task:scheduled ref="sheduleTask" method="resendFailRedPack" cron="0 0 9 * * ?"/>
	</task:scheduled-tasks>
</beans>